<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item-update</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div>
    <!--Контейнер страницы-->
    <div style="position: absolute" class="container-fluid text-center">
        <h1>Изменить товар</h1><br><br>
        <div>
            <!--    Форма добавления товара-->
            <form method="post" th:action="@{/item/update/}" th:object="${item}">
                <!--        Передаём Id-->
                <input th:field="*{id}" hidden/>
                <label for="item-name">Название товара:</label>
                <input id="item-name" th:type="text" th:field="*{itemName}" required minlength="1" maxlength="255"/>
                <td><img th:src="@{'data:image/jpeg;base64,' + ${item.previewImage}}" width="300" height="200"></td>

                <button class="btn btn-primary">Сохранить</button>
                <a th:href="@{/item/}" class="btn btn-dark">назад</a>
            </form>
        </div>
    </div>
    <img src="https://d3gykfqzdbmcsi.cloudfront.net/fileadmin/user_upload/sport_lezeca.jpg"
         width="2500" height="1350">
</div>
</body>
</html>