<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>item-list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_list text-center">
    <a th:href="@{/login}" class="btn btn-outline-dark">Выйти из аккаунта</a>
    <h1>Список товаров</h1>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Название товара</th>
                <th>Товар</th>
                <th>Цена $</th>
                <th>Меню навигации</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item: ${items}">
                <tr>
                    <td><h1>[[${item.itemName}]]</h1></td>
                    <td>
                        <a th:href="@{'/item/detail/' + ${item.id}}">
                            <img th:src="@{'data:image/jpeg;base64,' + ${item.previewImage}}" width="300" height="200">
                        </a>
                    </td>
                    <td><h1>[[${item.itemPrice}]]</h1></td>
                    <td>
                        <a th:href="@{'/item/delete/' + ${item.id}}" class="btn btn-danger">Удалить</a>
                        <a th:if="${isAdmin}" th:href="@{'/item/update/' + ${item.id}}" class="btn btn-primary">Изменить</a>
                        <a th:if="${isAdmin}" th:href="@{/order/}" class="btn btn-warning">Список заказов</a>
                        <a th:if="${isAdmin}" th:href="@{/client/}" class="btn btn-success">Список клиентов</a>
                        <a th:href="@{/orderItem/}" class="btn btn-danger">Корзина товаров</a>
                    </td>
                </tr>
            </th:block>
        </table>
        <br><br>
        <div>
            <a th:href="@{/item/add/}" class="btn btn-primary"><h1>Добавить новый товар</h1></a>
        </div>
        <br><br>
        <h3><a th:href="@{/}">Вернутся на главную</a></h3>
        [[${goodMsg}]]
    </div>
</div>
</body>
</html>