<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>order-update</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_list text-center">
        <h1>Изменить город получателя</h1><br><br>
        <div>
            <form method="post" th:action="@{/order/update/}" th:object="${order}">
                <input th:field="*{id}" hidden/>
                <label for="client-name">Название города выдачи:</label>
                <input id="client-name" th:type="text" th:field="*{description}" required minlength="1" maxlength="255"/>
                <button class="btn btn-warning">Сохранить</button>
                <a th:href="@{/order/}" class="btn btn-dark">Назад</a>
            </form>
        </div>
    </div>
</body>
</html>