<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order-list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!--Контейнер страницы-->
<div class="container-fluid text-center">
    <h1>Список заказов</h1>
    <!--    Пройдемся в цикле по каждому заказу и выведем его-->
    <table class="table table-bordered">
        <!--      Шапка таблицы-->
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Описание заказа</th>
            <th>Данные о заказчике</th>
            <th>Меню</th>


        </tr>
        </thead>
        <!--        Тело таблицы-->
        <tbody>
        <th:block th:each="order :${orders} ">
            <!--            В каждой строке таблицы выведем заказ-->
            <tr>
                <td>[[${order.id}]]</td>
                <td>[[${order.description}]]</td>
                <td>[[${order.client.clientName}]]</td>

                <td>
                    <a th:href="@{'/order/delete/' + ${order.id}}" class="btn btn-danger">Удалить</a>
                    <a th:href="@{'/order/update/' + ${order.id}}" class="btn btn-warning">Изменить</a>
                    <a th:href="@{'/order/detail/' + ${order.id}}" class="btn btn-primary">Описание</a>
                    <a th:href="@{/client/}" class="btn btn-success">Список клиентов</a>
                    <a th:href="@{/item/}" class="btn btn-primary">Список товаров</a>
                    <a th:href="@{/orderItem/}" class="btn btn-danger">Список заказов товаров</a>

                </td>
            </tr>
        </th:block>
        </tbody>
    </table><br><br>
    <!--    Добавление заказа-->
    <div>
        <a th:href="@{/order/add/}" class="btn btn-warning"><h1>Добавить новый заказ</h1></a>
    </div>
    <br><br>
    <!--    Ссылка на главную-->
    <h3 ><a th:href="@{/}">Вернуться на главную</a></h3>
    [[${goodMsg}]]
</div>
</body>
</html>