<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>client-update</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;Контейнер страницы&ndash;&gt;-->
<!--<div class="container-fluid text-center">-->
<!--    <h1>Изменить клиента</h1><br><br>-->
<!--    &lt;!&ndash;    Форма добавления клиента&ndash;&gt;-->
<!--    <form method="post" th:action="@{/basket/update/}" th:object="${basket}">-->
<!--        &lt;!&ndash;        Передаём Id&ndash;&gt;-->
<!--        <input th:field="*{id}" hidden/>-->
<!--        &lt;!&ndash;        Имя клиента&ndash;&gt;-->
<!--        <label for="client-name">Имя клиента:</label>-->
<!--        <input id="client-name" th:type="numder" th:field="*{clientName}" required minlength="1" maxlength="255"/>-->
<!--        <button class="btn btn-success">Сохранить</button>-->
<!--        <a th:href="@{/basket/}" class="btn btn-dark">Назад</a>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->