<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>client-detail</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container-fluid text-center">-->
<!--    <h1>Корзина</h1><br><br>-->
<!--    <h2>[[${basket}]]</h2><br><br>-->
<!--    <a th:href="@{/basket/}" class="btn btn-dark"><h1>Назад</h1></a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->