<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>client-update</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!--Контейнер страницы-->
<div class="container-fluid text-center">
    <h1>Изменить клиента</h1><br><br>
    <!--    Форма добавления клиента-->
    <form method="post" th:action="@{/client/update/}" th:object="${client}">
<!--        Передаём Id-->
        <input th:field="*{id}" hidden/>
        <!--        Имя клиента-->
        <label for="client-name">Имя клиента:</label>
        <input id="client-name" th:type="text" th:field="*{clientName}" required minlength="1" maxlength="255"/>
        <!--        Кнопка отправки-->
        <button class="btn btn-success">Сохранить</button>
        <!--        Кнопка Cancel-->
        <a th:href="@{/client/}" class="btn btn-danger">Назад</a>
    </form>
</div>
</body>
</html>