<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>client-update</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_list text-center">
    <h1>Изменить покупателя</h1>
    <div>
        <form method="post" th:action="@{/user/update/}" th:object="${user}">
            <input th:field="*{id}" hidden/>
            <label for="user-name" style="color: white">Имя покупателя:</label>
            <input id="user-name" th:type="text" th:field="*{userName}" required minlength="1" maxlength="255"/>
            <button class="btn btn-warning">Сохранить</button>
            <a th:href="@{/user/}" class="btn btn-dark">Назад</a>
        </form>
    </div>
</div>
</body>
</html>