<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderItem-list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!--Контейнер страницы-->
<div class="container-fluid text-center">
    <h1>Изменить кол-во товаров</h1>
    <form method="post" th:action="@{/orderItem/update/}"  th:object="${orderItem}">
        <!--        Передаём Id-->
        <input th:field="*{id}" hidden/>
        <input th:value="*{order.id}" th:field="*{order}" hidden/>
        <input  th:value="*{item.id}" th:field="*{item}" hidden/>
        <label for="quantityItem-name">Кол-во товаров</label>
        <input id="quantityItem-name" th:type="number" th:field="*{quantityItem}" />
        <button class="btn btn-danger">Сохранить</button>
        <a th:href="@{/orderItem/}" class="btn btn-dark">Назад</a>
    </form>
</div>
</body>
</html>