<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderItem-form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_list text-center">
    <h1>Добавить новую корзину товаров</h1><br><br>
    <div>
        <form method="post" th:action="@{/orderItem/add/}" th:object="${orderItem}">
            <label for="orderItem-quantityItem">Кол-во товара :</label>
            <input id="orderItem-quantityItem" th:type="number" th:field="*{quantityItem}" required minlength="1"/>
            <label for="orderItem-order">Заказ</label>
            <select id="orderItem-order" th:field="*{order}">
                <th:block th:each="order : ${orders}">
                    <option th:value="${order.id}">[[${order}]]</option>
                </th:block>
            </select>
            <label for="orderItem-item">Товар </label>
            <select id="orderItem-item" th:field="*{item}">
                <th:block th:each="item : ${items}">
                    <option th:value="${item.id}">[[${item}]]</option>
                </th:block>
            </select>
            <button class="btn btn-danger">Добавить корзину</button>
            <a th:href="@{/orderItem/}" class="btn btn-dark">Назад</a>
        </form>
        <br><br>
        <h3><a th:href="@{/}">Вернутся на главную</a></h3>
    </div>
</div>
</body>
</html>