<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderItem-form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!--Контейнер страницы-->
<div class="container-fluid text-center">
    <h1>Добавить новый заказ товара</h1><br><br>
    <!--Форма добавления заказа-->
    <form method="post" th:action="@{/orderItem/add/}" th:object="${orderItem}">
        <!--Описание заказа-->
        <label for="orderItem-quantityItem">Кол-во товара :</label>
        <input id="orderItem-quantityItem" th:type="number" th:field="*{quantityItem}" required minlength="1"/>
        <!--Поле выбора вариантов заказа-->
                <label for="orderItem-order">Заказ</label>
                <select id="orderItem-order" th:field="*{order}">
                    <th:block th:each="order : ${orders}">
                        <option th:value="${order.id}">[[${order}]]</option>
                    </th:block>
                </select>
                <label for="orderItem-item">Товар </label>
                <select id="orderItem-item" th:field="*{item}">
                    <th:block th:each="item : ${items}">
                        <option th:value="${item.id}">[[${item}]]</option>
                    </th:block>
                </select>
        <button class="btn btn-danger">Добавить заказ товара</button>
        <a th:href="@{/orderItem/}" class="btn btn-danger">Назад</a>
    </form>
    <br><br>
    <h3><a th:href="@{/}">Вернутся на главную</a></h3>

</div>
</body>
</html>