<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orderItem-list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!--Контейнер страницы-->
<div class="container-fluid text-center">
    <h1>Список заказов товара</h1>
    <table class="table table-bordered">
        <!--      Шапка таблицы-->
        <thead class="table-dark">
        <tr>
            <th>Количество товаров</th>
            <th>Заказ</th>
            <th>Название товара</th>
            <th>Товар</th>
            <th>Артикул</th>
            <th>Меню навигации</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="orderItem :${orderItems}">
            <tr>
                <td>[[${orderItem.quantityItem}]]</td>
                <td>[[${orderItem.order}]]</td>
                <td>[[${orderItem.item.itemName}]]</td>
                <td><img th:src="@{'data:image/jpeg;base64,' + ${orderItem.item.previewImage}}" width="300" height="200"></td>
                <td>[[${orderItem.item.itemArticle}]]</td>
                <td>
                    <a th:href="@{'/orderItem/delete/' + ${orderItem.id}}" class="btn btn-danger">Удалить</a>
                    <a th:href="@{'/orderItem/update/' + ${orderItem.id}}" class="btn btn-primary">Изменить</a>
                    <a th:href="@{'/orderItem/detail/' + ${orderItem.id}}" class="btn btn-info">Описание</a>
                    <a th:href="@{/client/ }" class="btn btn-success">Список клиентов</a>
                    <a th:href="@{/item/}" class="btn btn-primary">Список товаров</a>
                    <a th:href="@{/order/}" class="btn btn-warning">Список заказов</a>

                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <br><br>
    <div>
        <a th:href="@{/orderItem/add/}" class="btn btn-danger"><h1>Добавить новый заказ товаров</h1></a>
    </div>
    <br><br>
    <h3><a th:href="@{/}">Вернуться на главную</a></h3>
    [[${goodMsg}]]
</div>
</body>
</html>