<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<!--Главная страница-->
<div class="wrapper_index text-center">
    <h1>Добро пожаловать!</h1><br><br>
    <td>
        <a th:if="${isAdmin}" th:href="@{/user/}" class="btn btn-success">Управление покупателями</a>
        <a th:if="${isAdmin}" th:href="@{/order/}" class="btn btn-warning">Город выдачи товара</a>
        <a th:href="@{/item/}" class="btn btn-primary">Управление товарами</a>
        <a th:href="@{/orderItem/}" class="btn btn-danger">Корзина товаров</a>
    </td>
    <h1><a th:href="@{/login}" class="btn btn-outline-dark">Выйти из аккаунта</a></h1>
    <h1 th:if="${isAdmin}">Виден Админу</h1>
</div>
</body>
</html>