<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!--Главная страница-->
<div class="container-fluid text-center ">
    <h1>Добро пожаловать!</h1>


    <!--Ссылка на CRUDы-->
    <div>
        <h1><a th:href="@{/client/}" class="btn btn-success">Управление клиентами</a></h1>
        <h1><a th:href="@{/order/}" class="btn btn-warning">Город выдачи товара</a></h1>
        <h1><a th:href="@{/item/}" class="btn btn-primary">Управление товарами</a></h1>
        <h1><a th:href="@{/orderItem/}" class="btn btn-danger">Управление заказами на товары</a></h1>

    </div>
    <a th:href="@{/basket/}"  class="btn btn-secondary">Корзина товаров</a>
</div>

</body>
</html>