<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="wrapper_login text-center" >
    <form th:action="@{/login}" method="post">
        <div><h1>Авторизация</h1>
            <div>
                <label>
                    Логин :
                    <input type="text" name="username"/>
                </label>
                <label>
                    Пароль :
                    <input type="password" name="password"/>
                    <button class="btn btn-warning"> Войти</button>
                </label>
                <th:block th:if="${param.error}" class="alert">
                    Ошибка ввода данных...
                </th:block>
            </div>
        </div>
 </div>
</form>
</body>
</html>
