<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div>
        <div style="position: absolute" class="container-fluid text-center"><h1>Авторизация</h1>
            <div>
                <label>
                    Логин :
                    <input type="text" name="username"/>
                </label>
                <label>
                    Пароль :
                    <input type="password" name="password"/>
                    <button class="btn btn-warning"> Войти</button>
                </label>
                <th:block th:if="${param.error}" class="alert">
                    Ошибка ввода данных...
                </th:block>
            </div>
        </div>
        <img src="https://i.pinimg.com/originals/a3/dd/47/a3dd4772c08a6bb003163c7db64cb0db.jpg"
             width="2500" height="1400">
    </div>
</form>
</body>
</html>
